@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: "Montserrat";
}

body::-webkit-scrollbar{
    background: rgb(2, 135, 90);
    box-shadow: .2px .2px 22px .2px rgb(4, 195, 87);
  }
  
  body::-webkit-scrollbar-thumb{
    background: rgb(4, 210, 142);
  }
  
  .faq-container{
    display: flex;
    flex-direction: column;
    box-shadow: .2px .2px 2px .2px lightgray;
    padding: 32px 22px 22px 2px;
    width: 100%;
  }
  
  .main-faq-container{
    display: flex;
    align-items: center;
  }
  
  .faq-div{
    color:rgb(2, 135, 90);
    margin-left: 20px;
    padding:2px 2px 2px 22px;
    box-shadow: .2px .2px 1px .2px rgb(2, 135, 90);
    border: 1px solid rgb(2, 135, 90);
    background:rgba(0, 184, 123, 0.144);
  
  }
  
  .faq-div:hover{
    box-shadow: .2px .2px 2px .2px lightgray;
    background:rgba(255, 255, 255, 0.144);
    cursor: pointer;
  }
  
  .faq-all-div-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  
  }
  
  
  .faq-div button:hover{
    cursor: pointer;
    transition: .2s;
    background: white;
    color:green;
  }
  
  .ques-button-container button{
    margin-left: 20px;
    height: 1.5rem;
    border: none;
    font-size: 1.2rem;
    width: 2rem;
    background: rgba(2, 154, 111, 0.958);
    box-shadow: .2px .2px 4px .2px rgba(0, 150, 65, 0.768);
    border-radius: 4px;
    color: white;
  }
  
  .box-container{
    display: flex;
    margin-top: 20px;
    
  }
  
  .box{
    width: 28rem;
    height: 10rem;
    box-shadow: .2px .2px 12px .2px;
    animation:.6s showBoxEffect ease ;
    opacity: 1;
    
  }
  
  @keyframes showBoxEffect{
    0%{
      opacity: .2;
    }
    100%{
      opacity: 1;
    }
  }
  
  .ques-button-container{
    display: flex;
    flex-direction: row;
    padding-right:20px;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .ques-button-container p{
    margin-top: -2px;
  }
  
  .ques-button-container button{
    margin-top: -4px;
  }
  
  h2{
    color:rgb(2, 135, 90);
    margin-top: -10px;
    text-align: center;
  }

  .know-more-box{
    color: white;
    background: rgba(2, 171, 114, 0.863);
    color: rgb(0, 51, 42);
    position: fixed;
    top:15%;    
    left: 30%;
    right: 30%;
    border-radius: 8px;
    padding:2px 15px 20px 15px;
    box-shadow: .2px .2px 14px .2px rgba(0, 128, 62, 0.355);
    z-index: +1;
    font-family: "Roboto";
  }

  .know-more-box h2{
    margin-top: -20px;
    color: rgb(0, 85, 56);
  }

  .know-more-button{
    background: rgb(0, 184, 122);
    color: rgb(0, 47, 26);
    box-shadow: .2px .2px 12px .2px rgb(0, 137, 92);
    border: none;
    font-size: .9rem;
    padding:3px 12px 3px 12px;
  }

  .know-more-desc{
    line-height: 27px;
  }
  .cross-sign-div{
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .bg-div{
    position: fixed;
    top: 0%;
    left:0%;
    width: 100%;
    height:100vh;
    opacity: .8;
    background: rgba(0, 128, 62, 0.355);
  }